body{
    margin:0px;
    text-align: center;
    background-image:url("cover.png");
  
  }
input{
      height:40px;
      width:300px;
      font-size:20px;
      margin-bottom:15px;
      margin-top:15px;
  }
option, select {
    height:40px;
    width:300px;
    font-size:20px;
}
input[type=submit],input[type=button]
{  background:#333;
    color:white;
    border:none;
    width:150px;
}